---
import ScrollView from "../Scroll-View.astro";
import ProjectCardLinks from "./Project-Card-Links.astro";
import ProjectCardTechnologies from "./Project-Card-Technologies.astro";
import type { ProjectDetails } from "./Projects";
const { props } = Astro.props as { props: ProjectDetails };
const { title, deploymentDate, description } = props;
const { githubUrl, liveUrl, technologies, documentationLink } = props;
---

<ScrollView customClasses=' w-[320px]'>
  <article
    class='w-[320px] flex flex-col bg-cardBg rounded-md hover:scale-105 transition-all ease-in duration-75 border-b-8 border-gray-700 h-[350px] p-4'
  >
    <h2 class='text-[1.1rem] sm:text-[1.2rem] font-Poppins'>{title}</h2>
    <ProjectCardLinks title={title} liveUrl={liveUrl} documentationLink={documentationLink} githubUrl={githubUrl} />
    <p class='text-sm sm:text-[0.98rem] text-gray-300 leading-tight mt-4 font-Inter tracking-wide'>
      {description}
    </p>
    <div class='flex flex-wrap gap-2 mt-auto p-1'>
      <p class='text-sm text-gray-500 leading-tight mt-1 w-[100%]'>{deploymentDate}</p>
      <ProjectCardTechnologies technologies={technologies} />
    </div>
  </article>
</ScrollView>
