---
import HeaderNav from "./HeaderNav.astro";
interface Props {
  title?: string;
  contentDescription?: string;
  customMainTagClasses?:string
}

const { title, contentDescription, customMainTagClasses } = Astro.props as Props;
const canonicalURL = new URL(Astro.url).href;
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />

    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <link rel='sitemap' href='/sitemap-index.xml' />
    <link rel='canonical' href={canonicalURL} />
    <meta name='description' content={contentDescription} />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />

    <title>{title}</title>
  </head>
  <body>
    <HeaderNav />
    <main class={`md:pt-[130px] ${customMainTagClasses}`}>
      <slot />
    </main>
  </body>
</html>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

  html {
    height: 100%;
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
  }
  body {
    background-image: linear-gradient(to top, hsl(215, 21%, 15%), #0d1117);
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
  }

  img {
    -webkit-backface-visibility: hidden;
    -ms-transform: translateZ(0); /* IE 9 */
    -webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
    transform: translateZ(0);
  }
</style>
