---
import Markdown from "../../components/Blog/Markdown";
import Layout from "../../layout/Layout.astro";

// export async function getStaticPaths() {
//   const response = await fetch("https://dev.to/api/articles?username=mmvergara");
//   const data = await response.json();
//   return data.map((blog: any) => {
//     return {
//       params: {
//         blogId: blog.id,
//       },
//     };
//   });
// }

const { blogId } = Astro.params;
const blogRequest = await fetch(`https://dev.to/api/articles/${blogId}`);
const data = await blogRequest.json();
---

<Layout
  title={`${data.title}  | Mark Vergara`}
  contentDescription={data.description}
  customMainTagClasses='text-white md:pt-8'
>
  <div class='text-white max-w-[1200px] p-4 mx-auto flex flex-col'>
    <h1 class='text-cyan-400 text-2xl md:text-5xl font-Poppins mb-6'>{data.title}</h1>
    <Markdown markdown={data.body_markdown} />
  </div>
</Layout>

<style></style>

<style is:inline>
  div {
    max-width: 1200px;
  }
</style>
